@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// $primary: darkblue;
$primary: rgba(1,1,1,0);
$family-sans-serif: 'Montserrat', sans-serif;
$button-border-color: white;

.button {
    border-color: none !important;
    box-shadow: none !important;
}

.text-holder {
  color: rgba(0,0,0,0)
}

.landing-image {
  background-image: url(../images/LandingImage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#modal-background{
  background-color: rgba(0,0,0,0.1);
}


@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/react-awesome-slider/dist/custom-animations/cube-animation.css';