@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// $primary: darkblue;
$primary: rgba(1,1,1,0);
$family-sans-serif: 'Montserrat', sans-serif;
$button-border-color: white;

.landing-page {
  background-image: (url(../images/LandingImage.jpg));
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-page-box {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
  min-height: 95vh;
  min-width: 95vw;
}

.profile-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 3;
}

.profile-text {
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.profile-text h1 {
  font-size: 3em;
}

.icon-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 25px;
  align-self: center;
}

small {
  font-size: -5em;
}

.copied-text {
color: gray;
}
.scroll-icon {
  // transition:all 0.5s ease-in-out;
  // color: black;
  width: 50px;
  height: 30px;
  color: rgba(255, 255, 255, 0.5);
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fade {
  from {color: rgba(255, 255, 255, 0.5);}
  to {color: rgba(0,0,0,0);}
}

// .profile-flex-box h1 {
//   font-size: 2em;
//   font-weight: bold;
//   color: black;
// }

// .profile-flex-box h3 {
//   font-size: 1em;
//   color: darkgray;
// }
.profile-photo {
  // align-self: flex-end;
  // background-image: (url(../images/joseph-2024.jpg));
  height: 400px;
// width: 100px;
  border-radius: 5px;
  // border: 2px solid white;
}

.button {
    border-color: none !important;
    box-shadow: none !important;
}

.text-holder {
  color: rgba(0,0,0,0)
}

.landing-image {
  background-image: url(../images/LandingImage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#modal-background{
  background-color: rgba(0,0,0,0.1);
}


@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/react-awesome-slider/dist/custom-animations/cube-animation.css';